body {
  margin-top: 0;
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  /*text-align: center;*/
}

a {
  color: seashell;
}

header{

  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  background-color: black;

}

.logo {
  display: flex;
  padding-left: 10px;
  align-items: center;
  color: seashell;
}

.logo img {
  height: 50px;
}

.nav {
  margin-right: 10px;
}

.nav span{
  padding: 10px;
}

.content{
  display: flex;
  width: 100%;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}
/*Our Mission*/
.mission {
  margin: 0 auto;
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  align-items: center;
}

.mission .text-content{
  width: 1200px;
  background-color: black;
  text-align: center;
  }
/*Featured Tea*/

.tea-month {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  }

.feature {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;

  }

.image {
  height: 200px;
  width: 300px;
  margin-right: 10px;
  position: relative;
  }

.menu {
  position: relative;
  margin-top: 10px;
}
/*Locations*/
.locations {
  margin: 0 auto;
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  flex-direction: column;
  align-items: center;
  }

.head {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.addresses{
  display: inline-flex;
  width: 1200px;
  justify-content:center;
  position: relative;
  margin-top: 10px;

}

.downtown {
  width: 300px;
  background-color: black;
  margin-top: 5px;
  margin-right:40px;
  padding: 10px;
  text-align: center;
  }

.east-bayside {
  width: 300px;
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
  text-align: center;
  }

.oakdale {
  width: 300px;
  background-color: black;
  margin: 5px 20px;
  padding: 10px;
  text-align: center;
  }

.contact {
  height: 200px;
  text-align: center;
  flex-direction: column;
  }

footer {
  width: 100%;
  margin-left: 20px;
  text-align: left;
  align-items: flex-end;

  }
